body {
    background-color: #03cea4;
    font-family: "Josefin Sans", Helvetica, sans-serif, "Merriweather";
    font-size: 22px;
}
#home-content {
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto auto;
}
header {
    grid-row: 1/2;
    border: 1px transparent #373f51;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#hero {
    grid-row: 2/3;
}
#home-grid {
    grid-row: 3/4;
    background-color: #373f51;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #f2b880;
    z-index: 1;
}
#logo_link {
    padding-top: 5px;
    align-self: center;
}
.logo {
    width: 80px;
    margin-left: 30px;
}
nav a:hover {
    background-color: #008dd5;
    color:black;
    border-radius: 7px;
}
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
nav a {
    padding: 55px;
    text-decoration: none;
    font-size: x-large;
    color: #008dd5;
}
#hero-msg {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 35px;
    font-size: 55px;
    z-index: 1;
}
#first-msg, #second-msg {
    text-align: center;
    padding: 15px;
    margin: 125px;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 55px;
    color: #008dd5;
}
#content-img {
    text-align: center;
}
#footer-grid {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 4/5;
    border: 5px solid #373f51;
    font-size: xx-large;
}
.social {
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    grid-column: 2/3;
}
#resources a:hover, #hero-msg a:hover{
    color:#f2b880;
    text-decoration: underline;
}
#hero-msg a{
    text-decoration: none;
    color: #03cea4;
}
footer {
    color:#373f51;
    background-color: #008dd5;
    margin-bottom: 50px;
}
#resources a{
    text-decoration: none;
    color: #373f51;
}
body, html {
    height: 100%;
}
#parallax-1 {
    /* The image used */
    background-image: url("images/bryce_canyon_landscape.jpeg");
  
    /* Full height */
    min-height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px transparent black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    grid-column: 1/3;
    grid-row-start: 1;
    margin-bottom: 40px;
  }
#parallax-2 {
    /* The image used */
    background-image: url("images/bryce_looking_up.jpeg");
  
    /* Full height */
    min-height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px transparent black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    grid-column: 1/3;
    grid-row-start: 1;
  }