body {
    background-color: #03cea4;
    font-family: "Josefin Sans", Helvetica, sans-serif, "Merriweather";
    font-size: 22px;
}
#home-content {
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto auto;
}
header {
    grid-row: 1/2;
    border: 1px transparent #373f51;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#hero {
    grid-row: 2/3;
}
#home-grid {
    grid-row: 3/4;
    background-color: #373f51;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #f2b880;
    z-index: 1;
}
#logo_link {
    padding-top: 5px;
    align-self: center;
}
.logo {
    width: 80px;
    margin-left: 30px;
}
nav a:hover {
    background-color: #008dd5;
    color:black;
    border-radius: 7px;
}
#hero-img {
    width: 100%;
}
#hero {
    margin-top: -100px;
}
#hero-box {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
nav a {
    padding: 55px;
    text-decoration: none;
    font-size: x-large;
    color: #008dd5;
}
#hero-msg {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 35px;
    font-size: 55px;
    z-index: 1;
    font-weight: 900;
}
#first-msg, #second-msg {
    text-align: center;
    padding: 15px;
    margin: 125px;
    font-size: 35px;
    letter-spacing: 3px;
    line-height: 55px;
    color: #008dd5;
}
#content-img {
    text-align: center;
}
#footer-grid {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 4/5;
    border: 5px solid #373f51;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: xx-large;
    background-color: #008dd5;
    color:#373f51;
    margin-bottom: 50px;
}

.social {
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    grid-column: 2/3;
}
#resources a:hover, #hero-msg a:hover{
    color:#03cea4;
    text-decoration: underline;
}
#hero-msg a{
    text-decoration: none;
    color: #03cea4;
}
#resources a{
    text-decoration: none;
    color: #f2b880;
}
body, html {
    height: 100%;
}
#parallax-1 {
    /* The image used */
    background-image: url("images/bryce_canyon_landscape.jpeg");
  
    /* Full height */
    min-height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px transparent black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    grid-column: 1/3;
    grid-row-start: 1;
    margin-bottom: 40px;
  }
#parallax-2 {
    /* The image used */
    background-image: url("images/bryce_looking_up.jpeg");
  
    /* Full height */
    min-height: 900px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px transparent black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    grid-column: 1/3;
    grid-row-start: 1;
  }
  #parallax-3 {
    /* The image used */
    background-image: url("images/track.jpeg");
  
    /* Full height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:contain;
    border: 1px transparent black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    grid-column: 1/3;
    grid-row-start: 1;
    margin-bottom: 40px;
}
#why-i-run-content {
    max-width: 1600px;
    margin: 0 auto;
}
#why-i-run-grid {
    justify-items: center;
    display: grid;
    grid-template-areas:
      "header header header header header"
      "text1 text1 text1 img1 img1"
      "img2 img2 text2 text2 text2"
      "text3 text3 text3 img3 img3"
      "text4 text4 text4 text4 text4"
      "img4 img4 img4 img4 img4";
      
    margin-top: 25px;
    background-color: #008dd5;
    color:#373f51;
    tab-size: 2;
    padding: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    place-items: center;
    row-gap: 40px;
}

#page-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: smaller;
    font-weight: 100;
}
#fifty-twenty {
    grid-area: text1;
    padding: 40px;
}
#fifty-twenty-title {
    text-align: left;
    justify-items: left;
}
#fifty-twenty-img {
    grid-area: img1;
    max-width: 100%;
    padding: 40px;
}
#first-half-img {
    grid-area: img2;
    max-width: 100%;
    padding: 40px;
}
#first-half-race {
    grid-area: text2;
    padding: 40px;
}
#bryce-race {
    grid-area: text3;
    padding: 40px;
}
#bryce-race-img {
    grid-area: img3;
    max-width: 100%;
    padding: 40px;
}
#why-i-run-text {
    grid-area: text4;
    padding: 40px;
}
#why-i-run-img {
    grid-area: img4;
    max-width: 100%;
    padding: 40px;
}
#why-footer-grid {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid #373f51;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: xx-large;
    background-color: #373f51;
    color: #008dd5;
    margin-bottom: 50px;
    grid-row: 3/4;
}

#resources-footer-grid {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 5px solid #373f51;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: xx-large;
    background-color: #008dd5;
    color: #373f51;
    margin-bottom: 50px;
    grid-row: 3/4;
}
#resources-grid {
    justify-items: center;
    display: grid;
    margin-top: 25px;
    background-color: #f2b880;
    color:#373f51;
    tab-size: 2;
    padding: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    place-items: center;
    row-gap: 40px;
}
#nikes-pic {
    text-align: center;
}
ul {
    list-style-type:square;
  }